@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply text-greyNeutral;
  background: var(--background);
  font-family: Roboto, sans-serif;
}


@layer base {
  h1 {
    @apply text-h1 font-semibold;
  }
  h2 {
    @apply text-h2 font-semibold;
  }
  h3 {
    @apply text-h3 font-medium;
  }
  h4 {
    @apply text-h4 font-semibold;
  }
  h5 {
    @apply text-h5 font-normal;
  }
  p {
    @apply text-md font-normal;
  }
}

